#consulting {
  position: relative;
  background: url("/image/consulting/image-1-consulting.webp") center no-repeat
    #ccc;
  background-size: cover;
  overflow: hidden;
  z-index: 99;
}

#consulting .container {
  position: relative;
}

#consulting:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -o-radial-gradient(
    50% 50%,
    50% 50%,
    #3b3d40 0%,
    #1b1c21 68.79%,
    #040507 100%
  );
  background: radial-gradient(
    50% 50% at 50% 50%,
    #3b3d40 0%,
    #1b1c21 68.79%,
    #040507 100%
  );
  mix-blend-mode: multiply;
  opacity: 0.9;
  z-index: -1;
}

#consulting .container {
  padding-top: 80px;
}

.footer__bar {
  position: absolute;
  top: 41px;
  right: 99px;
  cursor: pointer;
}

.consulting__title {
  margin-bottom: 16px;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: rgba(228, 197, 146, 1);
}

.consulting__subtitle {
  margin-bottom: 56px;
  width: 245px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgba(249, 249, 249, 1);
}

.consulting__form {
  margin-bottom: 169px;
}

.consulting__form label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgba(249, 249, 249, 1);
}

.consulting__name {
  display: block;
  margin-bottom: 24px;
  padding-bottom: 7px;
  width: 295px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgba(249, 249, 249, 1);
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(249, 249, 249, 1);
}

input::placeholder {
  color: rgba(249, 249, 249, 1);
}

.consulting__name:nth-child(4) {
  padding-bottom: 35px;
}

.consulting__name:focus {
  outline: 0;
}

.btn-consult {
  margin: 72px 0 0;
}

.consulting__info {
  padding: 20px 0;
  background: -o-radial-gradient(
    50% 0%,
    100% 100%,
    rgba(59, 61, 64, 0.6) 0%,
    rgba(27, 28, 33, 0.6) 49.35%,
    rgba(4, 5, 7, 0.6) 100%
  );
  background: radial-gradient(
    100% 100% at 50% 0%,
    rgba(59, 61, 64, 0.6) 0%,
    rgba(27, 28, 33, 0.6) 49.35%,
    rgba(4, 5, 7, 0.6) 100%
  );
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}

.consulting__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1240px;
}

.consulting__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 211px;
}

.consulting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 147px;
  list-style-type: none;
}

.consulting__items:nth-child(1) {
  margin-right: 61px;
}

.consulting__items,
.consulting__copy {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.consulting__items a {
  text-decoration: none;
  color: rgba(103, 103, 104, 1);
}

.consulting__copy {
  margin: auto;
  text-decoration: none;
  color: rgba(103, 103, 104, 1);
}

/*RESPONSIVE*/

@media (max-width: 992px) {
  #consulting {
    padding: 28px 0 48px;
    height: 100%;
  }

  .consulting__wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px 0;
  }
  .consulting__social {
    margin-right: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .consulting__list {
    margin-right: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .consulting__items:nth-child(1) {
    margin-right: 0;
    padding: 0 10px;
  }

  .consulting__info {
    padding: 0;
    background: none;
    backdrop-filter: none;
  }
}

@media (max-width: 576px) {
  #consulting {
    padding: 28px 0 48px;
    height: 100%;
  }

  #consulting .container {
    padding: 0 40px;
  }

  .footer__bar {
    top: -7px;
    right: 19px;
  }

  .consulting__title {
    margin-bottom: 28px;
    line-height: 28px;
    text-align: center;
  }

  .consulting__subtitle {
    width: 100%;
    text-align: center;
  }

  .consulting__form {
    margin-bottom: 52px;
    width: 100%;
  }

  .consulting__form input {
    width: 100%;
  }

  #consulting .button {
    display: block;
    margin: 0 auto;
    padding: 12px 9px;
  }

  .btn-consult {
    margin-top: 40px;
  }

  .consulting__wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .consulting__social {
    margin-right: 0;
  }

  .consulting__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
  }

  .consulting__items:nth-child(1) {
    margin-right: 0;
  }

  .consulting__items a {
    text-align: center;
  }

  .consulting__info {
    padding: 0;
    background: none;
    backdrop-filter: none;
  }

  .consulting__social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 24px;
  }

  .consulting__list {
    row-gap: 26px;
    margin-bottom: 41px;
  }
}
