#advantages {
  padding: 80px 0 60px;
  background: rgba(249, 249, 249, 1);
}

.advantages__title {
  margin-bottom: 40px;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: rgba(208, 176, 124, 1);
}

.advantages__subtitle {
  margin-bottom: 43px;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: rgba(208, 176, 124, 1);
}

.advantages__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 60px;
  list-style-type: none;
}

.advantages__item {
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
  transition: 0.2s linear;
}

.advantages__item img {
  display: block;
  margin: 0 auto;
}

.advantages__item:hover {
  transform: translateY(-5px);
  transition: 0.2s linear;
}

.advantages__header {
  margin: 28px 0 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(29, 29, 31, 1);
}

.advantages__text {
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgba(103, 103, 104, 1);
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
  #advantages .container {
    padding: 0 50px;
  }

  .advantages__subtitle {
    margin-top: 43px;
  }

  .advantages__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 0;
  }

  .advantages__header {
    text-align: center;
  }

  .advantages__text {
    text-align: center;
  }
}

@media (max-width: 576px) {
  #advantages {
    padding: 32px 0 48px;
  }

  #advantages .container {
    padding: 0;
  }

  .advantages__title {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 28px;
  }

  .advantages__subtitle {
    font-size: 24px;
    line-height: 28px;
  }

  .advantages__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 22px 0;
    margin-bottom: 40px;
    padding: 0 16px;
  }

  /* .advantages__card-mobile {
    display: none;
  }

  .advantages__subtitle-mobile {
    display: none;
  } */

  .advantages__item {
    -webkit-transition: linear 0.5s ease-in-out;
    -o-transition: linear 0.5s ease-in-out;
    transition: linear 0.5s ease-in-out;
  }

  .advantages__item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: linear 0.5s ease-in-out;
    -o-transition: linear 0.5s ease-in-out;
    transition: linear 0.5s ease-in-out;
  }

  .advantages__header {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .advantages__text {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
  }
}
