.news__input {
    border-radius: 3px;
    color: #555;
    font-size: 16px;
    height: 35px;
    padding: 0 .75rem;
    transition: all .25s;
    width: 100%;
}

.news__input:focus {
    outline: none;
}

.input-addon {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px 5px 5px 5px;
    height: 38px;
    color: #CACACB;


}

.input-addon .icon {
    align-items: center;
    border-right: 0;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex: 0 0 35px;
    height: 35px;
    justify-content: center;
    margin: 0;
    position: relative;
    transition: all .25s;
}

.input-addon .icon:after {
    background-color: #F9F9F9;
    bottom: 1px;
    content: "";
    height: 95%;
    position: absolute;
    right: -1px;
    width: 2px;

}

.input-addon .icon i {
    color: #CACACB;
    font-size: 18px;
}

.input-addon .input {
    border-left: none;
    border-radius: 5px 5px 5px 5px;
    flex: 1;
}

.search {
    position: relative;
    width: 100%;
}

.input-addon .news__input:focus+.icon {

}

.search-box {
    opacity: 0;
    position: absolute;
    top: 39px;
    transition: all .25s linear;
    width: 100%;
    visibility: hidden;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 5px 5px;
    background-color: #F9F9F9;
}

.search-box.visible {
    opacity: 1;
    top: 39px;
    visibility: visible;
    z-index: 1;
}

.suggestions {
    list-style: none;
    padding: 0;
}

.suggestions li {
    color: #555;
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px 12px;
}

.suggestions li:hover {
    background-color: #e4c592;
    color: #F9F9F9;
}