
@media (min-width: 576px){
    body::-webkit-scrollbar { width: 0; };
    body{ -ms-overflow-style: none; };
    .block-team{
  /* padding: 145px 100px 120px 100px;
  margin: 0 auto; */
  padding-top: 146px;
  width: 100%;
  background: #f9f9f9;
  max-width: 1920px;
  min-width: 1200px; 
  overflow-x: hidden;
}
.block-team > h2 {
  
  font-family: Cormorant Garamond;
  font-size: 86px;
  font-style: normal;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
  color: #d0b07c;
  max-width: 1240px;
  margin: 0% auto;
  margin-top: 146px;
}
/*  */
.team-content {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 60px;
  position: relative;
}
.main__logo-link{
  position: absolute;
  top: -240px;
  text-decoration: none;
}
.main__logo-text{
    background: url(./../imageTeam/logo-icon-black.svg);
    background-size: cover;
    max-width: 188px;
    max-height: 34px;
    color: transparent;
}
.js-bar {
  position: absolute;
  top: -240px;
  right: 0px;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  /* transition: 0.5s; */
}
.js-bar-nav {
  z-index: 100;
  transition: 0.5s;
  /* width: 364px; */
  width: 100%;
  height: 100vh;
  background: hsl(220, 27%, 2%, 0.7);
  position: absolute;
  top: -275px;
   right: -330%; 
  /* transform: translateX(200%);  */

}
.js-bar-nav > ul {
  margin-top: 36px;
  margin-left: 36px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #f9f9f9;
}
.js-bar-nav > ul > li {
  margin-bottom: 16px;
}
.js-bar-nav > ul > li > a {
  text-decoration: none;
  color: #f9f9f9;
}
.js-bar-nav > ul > li > a:active {
  color: #e4c592;
}
.js-bar-nav > ul > li > a:hover {
  color: #e4c592;
}
.js-bar-nav-contacts{
  margin-top: 60px;
}
.js-bar-nav-contacts>h3{
  color: #e4c592;
  font-family: Cormorant Garamond;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
}
.js-bar-nav-contacts>ul>li{
  display: flex;
  column-gap: 15px;
 
  color: #F9F9F9;
  margin-top: 16px;
}

/* убираем стрелку */
details > summary {
  list-style: none;
}
details > summary::marker {
  display: none;
}
#burger-menuAfter {
  margin-top: 39px;
  margin-left: 36px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
/*  */
.content-info {
  color: #1d1d1f;
  font-family: Open Sans;
  width: 610px;
  
}
.content-info > h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.content-info > h4 {
  margin-bottom: 40px;
  margin-top: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #676768;
}
.content-info > p {
  margin-bottom: 20px;
  margin-top: 8px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
/* .content-image {
} */
.content-image > img {
  width: 610px;
  height: 397px;
  margin-bottom: 30px;
}
.content-image>div {
display: flex;
}
.content-image>div>svg{
width: 30px;
margin-top: 20px;
margin-right: 12px;
}
.content-image>div>div>h3{
    margin-top: 8px;
    width: 568px;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1D1F;
}    
.content-image>div>div>p{
    margin-top: 20px;
    color: #1D1D1F;
    font-family: Open Sans;
font-style: normal;
font-weight: 400;
font-size: 14px;
}
.content-image>div>div>p>span{
    color: #1D1D1F;
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
}
/* next block */
.team-years{
  display: flex;
  flex-direction: column;
}
.team-years>div{

  margin: 0% auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    
}

.team-years>div>div{
    padding-bottom: 40px;
    border-left: 2px solid #D0B07C;
    height: auto;
    padding-left:8px;
    font-family: Open Sans;
    letter-spacing: 0em;
    text-align: left;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
.team-years>div>div>h3{
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 32px;
color: #1D1D1F;
}
.team-years>div>div>p{
    width: 285px;
    margin-top: 8px;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}
.team-years>img{
    width: 100%;
    max-width: 1240px;
    margin: 0% auto;
}
/* next block */
.team-men{
  width: 100%;
  background: #1D1D1F;
  padding-top:80px;
  padding-bottom: 120px;
}
.team-men>div{
  max-width: 1240px;
  margin: 0% auto;
}
.team-men>div>h3{
  cursor: pointer;
font-family: Cormorant Garamond;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
color: #E4C592;
}
.team-men>div>div{
  display: flex;
  column-gap: 20px;
  margin-top: 60px; 
}
.team-men-maria-animation{
  animation: defaultMaria 0.5s ease-in-out;
}
@keyframes defaultMaria{
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(0%);
  }
}
.team-men>div>div>div{
  background: linear-gradient(90.16deg, #EBEBEB 0.02%, #EFEFEF 99.74%);
  border: 3px solid #E4C592;
box-sizing: border-box;
border-radius: 8px;
width: 400px;
height: 460px;
position: relative;

}

.team-men>div>div>div>a>img{
  width: 100%;
  height: 100%;

}
.team-men>div>div>div>a>img:hover{
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  z-index: 15;
}
.team-men>div>div>div>a>button{
  cursor: pointer;
  z-index: 5;
  position: absolute;
  left: 118px;
  bottom:30px;
  background: #E4C592;
border: 1.7px solid #E4C592;
box-sizing: border-box;
border-radius: 5px;
width: 158px;
height: 44px;
color: #1D1D1F;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
}
.team-men-info-text{
  display: flex;
  
}

/* .team-men>div>div>div>img:nth-child( n+2){
  height: 80%;
} */
/* next block */
.team-cases{
  width: 100%;
  background: #F9F9F9;
  padding-top: 80px;
  padding-bottom: 120px;
}
.team-cases>div{
  max-width: 1240px;
  margin: 0 auto;
}
.team-cases>div>h3{
font-family: Cormorant Garamond;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
color: #D0B07C;
}
.team-cases>div>div{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.team-cases>div>div>div{
  display: flex;
}
.team-cases>div>div>div>div{
  margin-left: 23px;
}
.team-cases>div>div>div>div>h4{
  margin-bottom: 7px;
font-family: Open Sans;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #1D1D1F;
}
.team-cases>div>div>div>div>a{
  /* margin-top: 12px; */
  font-family: Open Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: #676768;
display: flex;
align-items: center;
}

/* block team */
.team-men-info{
  /* padding: 100px;
  background: black; */
  width: 100%;
  max-width: 1360px;
  margin: 0% auto;
  display: flex;
  column-gap: 70px;
  animation: openMaria 0.5s ease-in-out;
}
@keyframes openMaria {
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes defaultMaria{
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(0%);
  }
}

.team-men-info>img{
  border: 3px solid #E4C592;
  box-sizing: border-box;
  border-radius: 8px;
  width: 400px;
  height: 460px;
}
.team-men-info-text{
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  display: flex;
  flex-direction: column;
}
.team-men-info-links{
  position: absolute;
  top:0px;
  right:0px;
}
.team-men-info-links>a{
  text-decoration: none;
}
.team-men-info-text>h3{
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  color: #E4C592;
}
.team-men-info-text>h4{
  margin-top: 8px;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #F9F9F9;
}
.team-men-info-text>ul{
  margin-top:26px;
  font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #F9F9F9;
}
.team-men-info-text>ul>li{
list-style: url(../imageTeam/list-style-disc.svg);
margin-bottom: 10px;
max-width: 820px;
}
.team-men-info-text-items{
  margin-top: 26px;
display: flex;
flex-wrap: wrap;
font-style: normal;
color: #F9F9F9;
column-gap: 75px;
}
.team-men-info-text-items>div>div{
  margin-bottom: 16px;
}
.team-men-info-text-items>div>div>h5{
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #E4C592;
}
.team-men-info-text-items>div>div>h6{
  margin-top: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
}


@media (max-width: 576px){
    /* body::-webkit-scrollbar { width: 0; };
    body{ -ms-overflow-style: none; }; */
    body{
      overflow-x: hidden;
    }
  .block-team {
     padding: 92px 0px 48px 0px;
    width: 100%;
    background: #f9f9f9;
    width: 100%;
    max-width: 576px;
    overflow-x: hidden;
  }
  .block-team > h2 {
    
    font-family: Cormorant Garamond;
    font-size: 50px;
    line-height: 85%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0em;
    text-align: center;
    color: #d0b07c;
     /* max-width: 1240px; 
     margin: 0% auto;  */
     margin-top: 0px;
  }
  .team-content {
    /* display: flex;
    justify-content: space-between; */
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    row-gap: 20px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
    max-width: 343px;
    /* margin: 0% auto; */
  }
  .main__logo-link{
    position: absolute;
    top: -180px;
    text-decoration: none;
  }
  .main__logo-text{
      background: url(./../imageTeam/logo-icon-black.svg);
      background-size: cover;
      max-width: 188px;
      max-height: 34px;
      color: transparent;
  }
  .js-bar {
    position: absolute;
    top: -180px;
    right: 0px;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    /* transition: 0.5s; */
  }
  .js-bar-nav {
    z-index: 100;
    transition: 0.5s;
    /* width: 364px; */
    width: 100%;
    height: 750px;
    background: hsl(220, 27%, 2%, 1);
  
    position: absolute;
    top: -130px;
    right:-150%;
     /* right: -130%;  */
    /* transform: translateX(200%);  */
  
  }
  .js-bar-nav > ul {
    margin-top: 36px;
    margin-left: 36px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #f9f9f9;
  }
  .js-bar-nav > ul > li {
    margin-bottom: 16px;
  }
  .js-bar-nav > ul > li > a {
    text-decoration: none;
    color: #f9f9f9;
  }
  .js-bar-nav > ul > li > a:active {
    color: #e4c592;
  }
  .js-bar-nav > ul > li > a:hover {
    color: #e4c592;
  }
  .js-bar-nav-contacts{
    margin-top: 60px;
  }
  .js-bar-nav-contacts>h3{
    color: #e4c592;
    font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  }
  .js-bar-nav-contacts>ul>li{
    display: flex;
    column-gap: 15px;
   
    color: #F9F9F9;
    margin-top: 16px;
  }
  
  
  #burger-menuAfter {
    margin-top: 20px;
    margin-left: 36px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  /*  */
  .content-info {
    color: #1d1d1f;
    font-family: Open Sans;
    width: 100%;
    
  }
  .content-info > h3 {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  .content-info > h4 {
    margin-bottom: 40px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #676768;
  }
  .content-info > p {
    margin-bottom: 20px;
    margin-top: 8px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
  }
  /* .content-image {
  } */
  .content-image > img {
    display: none;
    width: 610px;
    height: 397px;
    margin-bottom: 30px;
  }
  .content-image>div {
  display: flex;
  }
  .content-image>div>svg{
  width: 90px;
  margin-top: 20px;
  margin-right: 12px;
  }
  .content-image>div>div>h3{
      margin-top: 8px;

      font-family: Cormorant Garamond;
      font-size: 24px;
      line-height: 28px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0em;
      text-align: left;
      color: #1D1D1F;
  }    
  .content-image>div>div>p{
      margin-top: 20px;
      color: #1D1D1F;
      font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  }
  .content-image>div>div>p>span{
      color: #1D1D1F;
      font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  }
  /* next block */
  .team-years{
    max-width: 343px;
    margin: 0% auto;
    display: flex;
    flex-direction: column;  
    overflow-x:scroll;
      margin-bottom: 62px;
      padding-bottom: 30px;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: border-box;
      scrollbar-color: #D0B07C #CACACB;     /* «цвет ползунка» «цвет полосы скроллбара» */
      scrollbar-width: 1px;
  }
  .team-years::-webkit-scrollbar {
height: 4px;
background-color: #CACACB;
border-radius: 5px;


  }
  .team-years::-webkit-scrollbar-thumb{
    height: 1px;
background-color: #D0B07C;
border-radius: 5px;

  }
  .team-years>div{
  
    margin: 0% auto;
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      max-width: 1240px;
      
  }
  
  .team-years>div>div{
      padding-bottom: 40px;
      border-left: 2px solid #D0B07C;
      height: auto;
      padding-left:8px;
      font-family: Open Sans;
      letter-spacing: 0em;
      text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }
  .team-years>div>div>h3{
    font-size: 24px;
    line-height: 28px;
  font-style: normal;
  font-weight: 600;

  color: #1D1D1F;
  }
  .team-years>div>div>p{
      width: 163px;
      margin-top: 8px;
      font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  }
  .team-years>img{
      width: 200%;
      max-width: 576px;
  }
  /* next block */
  .team-men{
    width: 100%;
    background: #1D1D1F;
    padding-top:32px;
    padding-bottom: 48px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    /* max-height: 1280px; */
  }
  .team-men>div{
    max-width: 1240px;
    margin: 0% auto;
  }
  .team-men>div>h3{
  font-family: Cormorant Garamond;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #E4C592;
  }
  .team-men>div>div{
    /* display: flex; */
    margin-top: 60px;
    animation: defaultMaria 0.5s ease-in-out;
  }
  .team-men>div>div>div{
    border: 3px solid #E4C592;
  box-sizing: border-box;
  border-radius: 8px;
  /* width: 343px;
  height: 395px; */
  width: 100%;
  max-width: 343px;
  height: 395px; 
  margin: 20px auto;
  }
  /* .team-men>div>div>div:ntn-child(2){
    margin-top: 20px;
  } */
  .team-men>div>div>div>a>img{
    width: 100%;
    height: 100%;
  }
  .team-men>div>div>div>a>button{
    display: none;
  }
  /* next block */
  .team-cases{
    width: 100%;
    background: #F9F9F9;
    padding-top: 32px;
    padding-bottom: 48px;
  }
  .team-cases>div{
    max-width: 1240px;
    margin: 0 auto;
  }
  .team-cases>div>h3{
  font-family: Cormorant Garamond;
  font-size: 28px;
  line-height: 28px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  color: #D0B07C;
  }
  .team-cases>div>div{
    /* display: flex;
    justify-content: space-between; */
    margin-top: 30px;
    text-align: center;
  }
  .team-cases>div>div>div{
    /* display: flex; */
    margin-top: 22px;
  }
  .team-cases>div>div>div>div{
    /* margin-left: 23px; */
    margin-top: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .team-cases>div>div>div>div>h4{
    margin-bottom: 7px;
  font-family: Open Sans;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
  color: #1D1D1F;
  }
  .team-cases>div>div>div>div>a{
    /* margin-top: 12px; */
    font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: #D0B07C;  display: flex;
  align-items: center;

  }
  .team-cases>div>div>div>div>a>svg{
    color: #D0B07C;
  }
  /* next block  maria */
  .team-men-info{
    width: 100%;
    max-width: 576px;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 70px;
    animation: openMaria 0.5s ease-in-out;
    background: #1D1D1F;
  }
  @keyframes openMaria {
    0%{
      transform: translateX(200%);
    }
    100%{
      transform: translateX(0%);
    }
  }
  @keyframes defaultMaria{
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(0%);
    }
  }
  
  .team-men-info>img{
    border: 3px solid #E4C592;
    box-sizing: border-box;
    border-radius: 8px;
    width: 343px;
    height: 395px;
    margin: 0% auto;
    /* margin-top: 60px; */
  }
  .team-men-info-text{
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    display: flex;
    flex-direction: column;
    max-width: 343px;
  }
  .team-men-info-links{
    position: absolute;
    top:15px;
  left: 50%;
  transform: translateX(-50%);
  }
  .team-men-info-links>a{
    text-decoration: none;
  }
  .team-men-info-text>h3{
    margin-top: 70px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #E4C592;
  }
  .team-men-info-text>h4{
    margin-top: 8px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #F9F9F9;
  text-align: center;
  }
  .team-men-info-text>ul{
    margin-top:20px;
    font-weight: normal;
  /* font-size: 16px;
  line-height: 20px; */
  color: #F9F9F9;
  }
  .team-men-info-text>ul>li{
  list-style: url(../imageTeam/list-style-disc.svg);
  margin-bottom: 12px;
  /* max-width: 820px; */
  font-size: 13px;
line-height: 16px;
  }
  .team-men-info-text-items{
    margin-top: 26px;
    margin-bottom: 48px;
  /* display: flex;
  flex-wrap: wrap; */
  font-style: normal;
  color: #F9F9F9;
  column-gap: 75px;
  }
  .team-men-info-text-items>div>div{
    margin-bottom: 20px;
    text-align: center;
  }
  .team-men-info-text-items>div>div>h5{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #E4C592;
  }
  .team-men-info-text-items>div>div>h6{
    margin-top: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}